<nav class="pagination is-small is-centered" 
     role="navigation" aria-label="pagination">
  <% if (page.total > 1) { %>
    <!-- First Page. -->
    <% if (page.prev != 0) { %>
      <a class="pagination-previous"
         href="<%= url_for(page.base) %>" 
         rel="first">First</a>
    <% } else { %>
      <a class="pagination-previous"
         title="This is the first page"
         disabled>First</a>
    <% } %>

    <!-- Previous Page. -->
    <% if (page.prev_link) { %>
      <a class="pagination-previous"
         href="<%= url_for(page.prev_link) %>" 
         rel="prev">Previous</a>
    <% } else { %>
      <a class="pagination-previous"
         title="This is the first page"
         disabled>Previous</a>
    <% } %>

    <!-- Indicator Number. -->
    <a class="pagination-link" 
       disabled>Page: <%= page.current %> of <%= page.total %></a>

    <!-- Next Page. -->
    <% if (page.next_link) { %>
      <a class="pagination-next"
         href="<%= url_for(page.next_link) %>" 
         rel="next">Next</a>
    <% } else { %>
      <a class="pagination-next"
         title="This is the last page"
         disabled>Next</a>
    <% } %>

    <!-- Last Page. -->
    <% if (page.next != 0) { %>
    <%
        var lastPage = page.base + 
                 '/' + config.pagination_dir + 
                 '/' + page.total;
    %>
      <a class="pagination-next"
         href="<%= url_for(lastPage) %>" 
         rel="last">Last</a>
    <% } else { %>
      <a class="pagination-next"
         title="This is the last page"
         disabled>Last</a>
    <% } %>

    <!-- Dummy. Do not delete! -->
    <ul class="pagination-list">
    </ul>

  <% } %>
</nav>